.example-form {
    display: flex;
    flex-direction: row;
}

.visa {
    min-width: 20px;
    min-height: 20px;
    background-image: url("./images/visa.svg");
    background-repeat: no-repeat;
}

.mastercard {
    min-width: 20px;
    min-height: 20px;
    background-image: url("./images/mastercard.svg");
    background-repeat: no-repeat;
}



